<footer>
    <div></div>
    <div>
        <p>
    
            &copy; copy right are reserved 
        </p>

    </div>
    <div>
        <ul>
            <li> <a href="https://github.com/yasmeenokh"id="link3"><i class="fab fa-github-square"></i></a></li>
            <li> <a href="https://www.linkedin.com/in/yasmin-al-khateeb/"id="link4"><i class="fab fa-linkedin"></i></a></li>
        </ul>

    </div>
</footer>