<%- include('./layout/header') %> 
<main>
<h2>
    You haven't added anything to your card yet 
    click here to add Products <button><a href="/allProducts">add Products</a></button>
</h2>
</main>
<%- include('./layout/footer') %> 
