<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li><a href="/allProducts">all Products</a></li>
                <li><a href="/myCard">myCard</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <form action="/productByPrice" method="POST">
            <input type="text" name="maybelline" placeholder="maybelline">
            <input type="number" name="maxPrice"  placeholder="maximum price">
            <input type="number" name="minPrice" placeholder="minium price">
            <button>search</button>
            </form>
        </div>
    </main>
</body>
</html>