*{
    box-sizing: border-box;
    text-transform: capitalize;
}

header{
    height: 100px;
    margin-bottom: 10px;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header nav ul li {
    margin-top: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}

#indexForm input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40%;
    margin-bottom: 20px;
}
#indexForm button{
    margin-left: 44%;
}
.allCardMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.allCards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    border: solid;
    padding: 20px;
    margin-bottom: 20px;
}
.addMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.detailDiv{
    margin-left: 25%;
    width: 50%;
}
#deleteBtn{
    margin-left: 35%;
    margin-top: 20px;

}
#updateBtn{
    margin-left: 50%;
    margin-top: 20px;
    position: absolute;
    top: 62%;

}
button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}